$orange: #EA5B0C;
$green: #C1DFC4;
$yellow: #FED386;

// Little reset
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{font-family: 'Poppins', sans-serif;}

// Orange details
em{color: $orange; font-style: normal;}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: $green;
    display: flex;
    justify-content: space-between;
    z-index: 1000;

    &>a{
        margin-left: 15px;
        align-self: center;
        z-index: 1100;
        img{
            height: 50px;
            vertical-align: middle;
        }
    }

    div.burger{
        width: 40px;
        height: 35px;
        position: relative;
        margin-right: 15px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        align-self: center;
        outline: none;
        z-index: 1100;

        span{
            display: block;
            position: absolute;
            height: 7px;
            width: 100%;
            background: $orange;
            border-radius: 3px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }
        span:nth-child(1) {
            top: 1px;
        }
        span:nth-child(2), span:nth-child(3) {
            top: 14px;
        }
        span:nth-child(4) {
            top: 27px;
        }

        &.open {
            span:nth-child(1), span:nth-child(4){
                top: 14px;
                width: 0%;
                left: 50%;
            }
            span:nth-child(2){
                transform: rotate(45deg)
            }
            span:nth-child(3){
                transform: rotate(-45deg)
            }
        }
    }
    div#shade{display: none;}
    div.menu{
        background-color: $green;
        position: absolute;
        right: -100%;
        top: 49px;
        width: 100%;
        height: 95vh;
        text-align: center;
        padding-top: 30px;
        transition: right .5s ease ;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.opened{
            right: 0;
            transition: right .5s ease ;
        }

        ul{
            list-style: none;
        }
        a {
            text-decoration: none;
            color: black;
        }

        ul.main_menu{
            position: relative;
            font-size: 1.4em;
            line-height: 2em;
            margin: 0 0 10%;

            li{
                margin-bottom: 10px;
                transition: max-height .5s ease;
            }

            li ul{
                margin-top: 10px;
                line-height: 1.4em;
                font-size: .8em;
                font-weight: 300;
                overflow: hidden;
                max-height: 0;
                transition: max-height .5s ease;
            }

            li ul.main_opened{
                max-height: 200px;
                transition: max-height 1s ease;

            }
        }
        ul.sec_menu{
            width: 100%;
            text-align: center;
            line-height: 1.8em;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            margin-bottom: 10%;

            li:nth-child(3){
                margin-top: 10px;
            }
            
            li:nth-child(3) a, li:nth-child(4) a{
                font-weight: 300;
            }
        }

    }
}

header{
    position: relative;
    background-color: $green;
    height: 70vh;
    min-height: 470px;
    margin: 49px 0 80px;
    padding: 30px 20px;
    z-index: 40;
    
    div.intro{
        margin: 40px auto 0;
        position: relative;
        max-width: 500px;
        height: 45vh;
        min-height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        #headline{
            display: inline-block;
            position: relative;
            z-index: 100;
            width: 100%;
            margin: 0 auto;

            img{
                display: block;
                max-width: 90%;
                // margin: 0 auto;
            }
        }
        #headline::before{
            content: '';
            width: 150px;
            height: 150px;
            background-color: $orange;
            border-radius: 50%;
            position: absolute;
            margin-top: -75px;
            left: -50px;
            top: 50%;
            z-index: -1;
        }
        h1{
            position: relative;
            margin-top: 50px; 
            width: 75%;
            max-width: 300px;
            font-size: 1.1em;
            z-index: 110;
        }

        div.search{
            height: 40px;
            display: flex;
            align-items: center;

            div{
                display: inline-flex;
                align-items: center;
                background-color: $yellow;
                padding: 10px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
            div img{
                width: 20px;
            }

            input{
                background-color: transparent;
                outline: none;
                vertical-align: middle;
                width: 200px;
                margin-left: 10px;
                padding: 5px 10px;
                border-radius: 10px;
            }
            input::placeholder{
                font-family: 'Poppins', sans-serif;
                color: black;
                font-size: 1.2em;
            }
            input:focus{
                background-color: rgba(255,255,255, 0.2);
                font-family:  'Poppins', sans-serif;
                font-size: .68em;
            }
        }
        
    }
    div.bubbles {
        position: absolute;
        bottom: 0;
        right: 30px;
        width: 90%;

        img.big_bubble{
            width: 200px;
            position: absolute;
            bottom: -80px;
            right: 0;
        }
        img.small_bubble{
            width: 80px;
            position: absolute;
            bottom: -70px;
            right: 170px;
        }
        &::after{
            content: '';
            width: 40px;
            height: 40px;
            background-color: $orange;
            border-radius: 50%;
            position: absolute;
            right: -15px;
            bottom: -25px;
        }
    }
}

section{
    width: 100%;
    padding: 30px 20px;
    height: 100vh;

    h3{
        max-width: 500px;
        margin: 0 auto;
    }
}


@media screen and (min-width: 600px){
    nav{
        div#shade{
            display: block;
            position: absolute;
            top: 50px;
            left: 0;
            background-color: rgba(0, 0, 0, 0);
            transition: background-color .5s ease;
        }
        div#shade.opened{
            left: 0;
            width: 100%;
            height:95vh;
            background-color: rgba(0, 0, 0, 0.2);
            transition: background-color .5s ease;
        }
        div.menu{
            width: 45%;
            max-width: 320px;
        }
    }

    header{
        min-height: 550px;
        div.intro{
            height: 60vh;
            min-height: 450px;
            #headline {
                img{
                    max-width: 100%;
                }
            }
            #headline::before{
                width: 180px;
                height: 180px;
                left: -75px;
                top: 50%;
            }
            h1{
                font-size: 1.3em;
            }
        }

        div.bubbles{
            img.big_bubble{
                width: 280px;
                bottom: -100px;
            }
            img.small_bubble{
                width: 110px;
                bottom: -80px;
                right: 230px;
            }
            &::after{
                width: 60px;
                height: 60px;
                right: -20px;
                bottom: -20px
            }
        }
    }
    section h3{
        font-size: 1.3em;
    }
}

@media screen and (min-width: 768px){

    header div.intro {
        max-width: 600px;

        #headline::before{
            width: 200px;
            height: 200px;
            left: -120px;
            top: 20%;
        }

        h1{
            font-size: 1.5em;
        }
    }

    header div.bubbles{
        img.big_bubble{
            width: 340px;
        }
        img.small_bubble{
            width: 130px;
            right: 280px;
        }
    }

    section h3{
        max-width: 600px;
        font-size: 1.4em;
    }
}


@media screen and (min-width: 1000px){

    
}