$orange: #EA5B0C;
$green: #C1DFC4;
$yellow: #FED386;

// Little reset
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{font-family: 'Poppins', sans-serif; position: relative;}

// Orange details
em{color: $orange; font-style: normal;}

// don't display custom cursor on small screens
div#cursor{display:none;}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: $green;
    display: flex;
    justify-content: space-between;
    z-index: 1000;

    &>a{
        margin-left: 15px;
        align-self: center;
        z-index: 1100;
        img{
            height: 50px;
            vertical-align: middle;
        }
    }

    div.burger{
        width: 40px;
        height: 35px;
        position: relative;
        margin-right: 15px;
        transform: rotate(0deg);
        transition: .5s ease-in-out;
        cursor: pointer;
        align-self: center;
        outline: none;
        z-index: 1100;

        span{
            display: block;
            position: absolute;
            height: 7px;
            width: 100%;
            background: $orange;
            border-radius: 3px;
            opacity: 1;
            left: 0;
            transform: rotate(0deg);
            transition: .25s ease-in-out;
        }
        span:nth-child(1) {
            top: 1px;
        }
        span:nth-child(2), span:nth-child(3) {
            top: 14px;
        }
        span:nth-child(4) {
            top: 27px;
        }

        &.open {
            span:nth-child(1), span:nth-child(4){
                top: 14px;
                width: 0%;
                left: 50%;
            }
            span:nth-child(2){
                transform: rotate(45deg)
            }
            span:nth-child(3){
                transform: rotate(-45deg)
            }
        }
    }
    div#shade{display: none;}
    div.menu{
        background-color: $green;
        position: absolute;
        right: -100%;
        top: 49px;
        width: 100%;
        height: 95vh;
        text-align: center;
        padding-top: 30px;
        transition: right .5s ease ;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.opened{
            right: 0;
            transition: right .5s ease ;
        }

        ul{
            list-style: none;
        }
        a {
            text-decoration: none;
            color: black;
        }

        ul.main_menu{
            position: relative;
            font-size: 1.4em;
            line-height: 2em;
            margin: 0 0 10%;

            &>li{
                margin-bottom: 10px;
                cursor: pointer;
                position: relative;
                &::after{
                    content : "";
                    position : absolute;
                    width : 40%;
                    height : 2px;
                    background-color: $orange;
                    bottom: 3px;
                    left: 30%;
                    transform: scaleX(0);
                    transition: transform .2s linear;
                }
                &:hover::after{
                    transform: scaleX(1);
                }
            }

            li ul{
                margin-top: 10px;
                line-height: 1.4em;
                font-size: .8em;
                font-weight: 300;
                overflow: hidden;
                max-height: 0;
                transition: max-height .5s ease;
            }

            li ul.main_opened{
                max-height: 200px;
                transition: max-height 1s ease;

                li a{transition: color .2s ease;}

                li a:hover{
                    color:$orange;
                }
                
            }
        }

        #more{display: none;}
        ul.sec_menu{
            width: 100%;
            text-align: center;
            line-height: 1.8em;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 600;
            margin-bottom: 10%;

            li a{
                transition: color .3s ease;
            }

            li a:hover{
                color: $orange;
            }

            li:nth-child(3){
                margin-top: 10px;
            }
            
            li:nth-child(3) a, li:nth-child(4) a{
                font-weight: 300;
            }
        }

    }
}

header{
    position: relative;
    background-color: $green;
    height: 70vh;
    min-height: 470px;
    margin: 49px 0 80px;
    padding: 30px 20px;
    z-index: 40;
    
    div.intro{
        margin: 40px auto 0;
        position: relative;
        max-width: 500px;
        height: 45vh;
        min-height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        #headline{
            display: inline-block;
            position: relative;
            z-index: 100;
            width: 100%;
            margin: 0 auto;

            img{
                display: block;
                max-width: 90%;
            }
        }
        #headline::before{
            content: '';
            width: 150px;
            height: 150px;
            background-color: $orange;
            border-radius: 50%;
            position: absolute;
            margin-top: -75px;
            left: -50px;
            top: 50%;
            z-index: -1;
        }
        h1{
            position: relative;
            margin-top: 50px; 
            width: 75%;
            max-width: 300px;
            font-size: 1.1em;
            z-index: 110;
        }

        div.search{
            height: 40px;
            display: flex;
            align-items: center;

            div{
                display: inline-flex;
                align-items: center;
                background-color: $yellow;
                padding: 10px;
                border-radius: 50%;
                width: 40px;
                height: 40px;
            }
            div img{
                width: 20px;
            }

            input{
                background-color: transparent;
                outline: none;
                vertical-align: middle;
                width: 200px;
                margin-left: 10px;
                padding: 5px 10px;
                position: relative;
                border-bottom: 1px solid transparent;
                transition: all .3s ease;
            }
            input::placeholder{
                font-family: 'Poppins', sans-serif;
                color: black;
                font-size: 1.2em;
            }
            input:focus{
                font-family:  'Poppins', sans-serif;
                font-size: .68em;
                border-bottom: 1px solid black;
                transform: scale(1.03);
                transition: all .3s ease;
            }
        }
        
    }
    div.bubbles {
        position: absolute;
        bottom: 0;
        right: 30px;
        width: 90%;

        img.big_bubble{
            width: 200px;
            position: absolute;
            bottom: -80px;
            right: 0;
        }
        img.small_bubble{
            width: 80px;
            position: absolute;
            bottom: -70px;
            right: 170px;
        }
        &::after{
            content: '';
            width: 40px;
            height: 40px;
            background-color: $orange;
            border-radius: 50%;
            position: absolute;
            right: -15px;
            bottom: -25px;
        }
    }
}

section{
    width: 100%;
    padding: 30px 20px;
    height: 100vh;

    h3{
        max-width: 500px;
        margin: 0 auto;
    }
}


@media screen and (min-width: 600px){
    nav{
        div#shade{
            display: block;
            position: absolute;
            top: 50px;
            left: 0;
            background-color: rgba(0, 0, 0, 0);
            transition: background-color .5s ease;
        }
        div#shade.opened{
            left: 0;
            width: 100%;
            height:95vh;
            background-color: rgba(0, 0, 0, 0.2);
            transition: background-color .5s ease;
        }
        div.menu{
            width: 45%;
            max-width: 320px;
        }
    }

    header{
        min-height: 550px;
        div.intro{
            height: 60vh;
            min-height: 450px;
            #headline {
                img{
                    max-width: 100%;
                }
            }
            #headline::before{
                width: 180px;
                height: 180px;
                left: -75px;
                top: 50%;
            }
            h1{
                font-size: 1.3em;
            }
        }

        div.bubbles{
            img.big_bubble{
                width: 280px;
                bottom: -100px;
            }
            img.small_bubble{
                width: 110px;
                bottom: -80px;
                right: 230px;
            }
            &::after{
                width: 60px;
                height: 60px;
                right: -20px;
                bottom: -20px
            }
        }
    }
    section h3{
        font-size: 1.3em;
    }
}

@media screen and (min-width: 768px){

    *{cursor: none !important;}
    div#cursor{
        display:block;
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background-color: $orange;
        z-index: 1010;
        transform: translate(-50%, -50%);
        pointer-events: none;
        transition: left .1s ease, top .1s ease;
        transition-property: width, height, background-color, border;
        transition-duration: .3s;
        transition: transform .2s ease;

        &.hover{
            width: 52px;
            height: 52px;
            background-color: transparent;
            border: 2px dashed $orange;
            transform: translate(-40%, -40%);
        }
    }
    header {
        min-height: 600px;
        div.intro {
            max-width: 600px;

            #headline::before{
                width: 200px;
                height: 200px;
                left: -120px;
                top: 20%;
            }

            h1{
                font-size: 1.5em;
            }

            div.search #search_icon{
                z-index: 1120;
                transition: all .2s ease;
                &.hover{
                    transform: scale(1.1);
                    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }

    header div.bubbles{
        img.big_bubble{
            width: 360px;
        }
        img.small_bubble{
            width: 130px;
            right: 280px;
        }
    }

    section h3{
        max-width: 600px;
        font-size: 1.4em;
    }
}


@media screen and (min-width: 1000px){

    nav{
        height: 80px;
        align-items: center;
        div.burger{
            display: none;
        }
        div.shade{display: none;}
        div.menu{
            position: relative;
            display: grid;
            grid-template-columns: 2fr 3fr 2fr;
            max-width: none;
            padding: 0;
            height: 100%;
            width: 100%;
            top: 0;
            left: 0;
            overflow: visible;

            ul.main_menu{
                grid-column: 2/3;
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                margin: 0;
                font-size: 1em;
                li{
                    position: relative;
                    margin: 0;
                    ul{
                        position: absolute;
                        display: block;
                        width: 100%;
                        background-color: $green;
                        border-radius: 0 0 3px 3px;
                        visibility: hidden;
                        opacity: 0;
                        transition: opacity .3s ease;
                        margin: 0;
                    }
                    ul.main_opened{
                        visibility: visible;
                        opacity: 1;
                        line-height: 2.2
                    }
                }
            }

            ul.sec_menu{
                position: relative;
                display: flex;
                font-size: .9em;
                margin: 0;
                align-items: center;
                justify-content: center;
                background-color: $green;
                grid-column: 3/4;
                
                #more{
                    display: inline;
                    cursor: pointer;
                    font-weight: 400;
                    user-select: none;
                    transition: color .3s ease;

                    &.sec_opened, &:hover{
                        color: $orange;
                    }
                }

                span{
                    position: absolute;
                    display: block;
                    width: 80%;
                    background-color: $green;
                    border-radius: 0 0 3px 3px;
                    bottom: -100px;
                    visibility: hidden;
                    opacity: 0;
                    transition: opacity .4s ease;

                    li a{
                        padding: 5px;
                    }
                    li:nth-child(3){
                        margin: 0;
                    }
                }

                span.sec_opened{
                    visibility: visible;
                    opacity: 1;
                    line-height: 2.2em;
                    transition: opacity .4s ease;
                }

            }


        }
    }


    header{
        height: 94vh;
        min-height: 750px;
        div.intro{
            min-height: 650px;
            height: 65vh;
            max-width: 750px;

            #headline::before{
                width: 220px;
                height: 220px;
            }
        }

        div.bubbles{
            img.big_bubble{
                bottom: -200px;
                width: 580px;
            }
            img.small_bubble{
                width: 200px;
                right: 480px;
                bottom: -120px;
            }
            &::after{
                width: 80px;
                height: 80px;
                bottom: -30px;
            }
        }
    }

    section h3{
        max-width: 750px;
    }
}

@media screen and (min-width: 1200px){

    nav{
        div.menu{

            text-align: center;
            ul.sec_menu{
                li#more{display: none;}
                span{
                    position: static;
                    opacity: 1;
                    visibility: visible;
                    display: flex;
                    flex-direction: row;
                    width: 100%;
                    justify-content: space-around;
                    font-size: .8em;
                    max-width: 270px;
                    margin: 0 auto;

                    li:nth-child(3){
                        margin-left: 15px;
                    }
                }
            }
        }
    }

    header{
        min-height: 750px;
        div.intro{
            max-width: 850px;
            min

            #headline::before{
                width: 280px;
                height: 280px;
            }

            h1{
                max-width: 350px;
                font-size: 1.6em;
            }
        }

        div.bubbles{
            div.big_bubble{
                width: 730px;
                bottom: -230px;
            }
            &::after{
                width: 100px;
                height: 100px;
            }
        }
    }

    section h3{
        max-width: 850px;
    }

}

@media screen and (min-width: 1200px){
    header div.intro{
        max-width: 950px;
    }
}